<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="login.jpg" type="image/png">
    <link rel="apple-touch-icon" href="login.jpg">
    <title>Activate Account | Spin & Earn To Mpesa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background: #fff;
            padding: 30px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
            width: 350px;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 22px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            color: #555;
        }

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-bottom: 10px;
        }

        button {
            padding: 12px;
            border: none;
            background-color: #f5ba1a;
            color: white;
            cursor: pointer;
            border-radius: 6px;
            font-size: 16px;
        }

        button:hover {
            background-color: #e1a70a;
        }

        #status {
            margin-top: 20px;
            color: #28a745;
        }

        #error {
            margin-top: 20px;
            color: red;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>Hello <%= user ? user.firstName : 'there' %></h2>
        <h1>Deposit Funds To Activate Account</h1>
        <form id="form" class="form" action="/mpesa" method="post">
            <label for="phoneNumber">Your Phone Number:</label>
            <input type="tel" id="phoneNumber" 
                placeholder="Phone number(e.g +254712345678 or 0712345678)" 
                required  
                title="Please enter a valid mobile number" 
                name="number" 
                pattern="^(?:\+254|0)(7|1)\d{8}$"
                value="<%= user ? user.phone : '' %>"
            >

            <label for="amount">Amount (KSH):</label>
            <input type="number" name="amount" id="amount" value="189" readonly placeholder="Enter amount" required min="50" placeholder="50">
            <button type="submit" class="submit">Request Payment</button>
        </form>
        <div id="error" style="color: red;"></div>
        <% if (result) { %>
            <div id="<%= result.ResponseCode === "0" ? 'status' : 'error' %>">
                <%= result.ResponseDescription || result.errorMessage %>


                <% if (result.ResponseCode === "0") { %>
                    <p>Check your number 0<%= result.CheckoutRequestID.slice(-9) %> to complete the transaction.</p>
                <% } %>
            </div>
        <% } %>
        
    </div>
	<script>
		document.getElementById('form').addEventListener('submit', function (event) {
            const phoneNumber = document.getElementById('phoneNumber').value.trim();
            const amount = document.getElementById('amount').value.trim();
            const statusDiv = document.getElementById('status');
            const errorMessage = document.getElementById('error');

            const kenyanPhoneRegex = /^(?:\+254|0)(7|1)\d{8}$/;
            if (!kenyanPhoneRegex.test(phoneNumber)) {
                event.preventDefault();
                setTimeout(() => {
                    errorMessage.textContent = "Invalid phone number format. Please use +2547XXXXXXXX or 07XXXXXXXX.";
                }, 2000);

                errorMessage.textContent = "";
                return;
            }

            setTimeout(() => {
                alert(`Payment request sent to ${phoneNumber}. Please check your phone to complete the payment.`)
            }, 2000);
		});
	</script>
</body>
</html>
